data/**
!data/**/
!data/**/readme.txt

ext_data/**
!ext_data/**/
!ext_data/**/readme.txt

res/**
!res/**/
!res/**/readme.txt
!res/model_training/pTE/model_training/trained_models/*h5
!res/model_training/pTE/model_training/trained_models/*json

!res/primate_sequence_variant_prediction/GCM1/predictions/*
!res/primate_sequence_variant_prediction/GRHL1/predictions/*
!res/primate_sequence_variant_prediction/TCF7L2/predictions/*

!res/motif_discovery/pTE_open_regions/modisco/*
!res/motif_discovery/pTE_specopen_vs_mTE/modisco/*
