data/**
!data/**/
!data/**/readme.txt

ext_data/**
!ext_data/**/
!ext_data/**/readme.txt

res/**
!res/**/
!res/**/readme.txt
!res/model_training/pTE/model_training/trained_models/*h5
!res/model_training/pTE/model_training/trained_models/*json

